# Python
__pycache__/
*.pyc

# Virtual Environments
.venv/
env/

# Logs and outputs
logs/
outputs/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Large neuroscience files
*.bdf
*.snirf
*.edf

# OS files
.DS_Store
Thumbs.db